{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="navbar">
    <div class="navbar-logo">
        <img src="{% static 'images/boteo.png' %}" alt="Boteo Logo">
    </div>
    <ul class="navbar-links">
        <li><a href="{% url 'home' %}" class="active">Inicio</a></li>
        <li><a href="{% url 'spaces_list' %}">Espacios</a></li>
        <li><a href="#">Comunidad</a></li>
    </ul>
    <div class="navbar-profile">
        <a href="#" class="btn-profile">Perfil</a>
    </div>
</nav>
