<!-- Modal Structure -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservationModalLabel">Crear Reserva</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="reservationForm" method="post" action="{% url 'reservations:create_reservation' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="space" class="form-label">Espacio Deportivo</label>
                        <select name="space" id="space" class="form-select">
                            {% for space in spaces %}
                            <option value="{{ space.id }}">{{ space.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Fecha</label>
                        <input type="date" name="date" id="date" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="start_time" class="form-label">Hora de Inicio</label>
                        <input type="time" name="start_time" id="start_time" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="end_time" class="form-label">Hora de Fin</label>
                        <input type="time" name="end_time" id="end_time" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Reservar</button>
                </form>
            </div>
        </div>
    </div>
</div>
