<form id="UpdateArea" method="POST" enctype="multipart/form-data" action="{% url 'area_detail' area.pk %}">

    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Nombre del Espacio Deportivo</label>
        {{ form.name }}
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción</label>
        {{ form.description }}
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label">Dirección</label>
            {{ form.address }}
        </div>
        <div class="col-md-6">
            <label class="form-label">Ciudad</label>
            {{ form.city }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label">Hora de Apertura</label>
            {{ form.opening_time }}
        </div>
        <div class="col-md-6">
            <label class="form-label">Hora de Cierre</label>
            {{ form.closing_time }}
        </div>
    </div>


    <h6 class="mt-4">Imágenes del Espacio</h6>
    <div class="mb-3">
        <label class="form-label">Subir Imágenes</label>
        {{ form.images }}
    </div>

    {% if form.instance.images %}
        <div class="vista-previa mt-2">
            <p><strong>Vista Previa:</strong></p>
            <img src="{{ form.instance.images.url }}" alt="Vista previa">
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="mt-4 alert alert-danger">
            Por favor, corrige los siguientes errores:
            {{ form.errors }}
        </div>
    {% endif %}