{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Facturación{% endblock %}

{% block content %}
    <main class="main-content">
        <h1 class="mb-4">Facturación</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Espacio</th>
                    <th>Monto</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                {% for bill in bills %}
                    <tr>
                        <td>{{ bill.user.first_name }} {{ bill.user.last_name }}</td>
                        <td>{{ bill.reservation.date }}</td>
                        <td>{{ bill.reservation.space.name }}</td>
                        <td>{{ bill.reservation.price }}</td>
                        <td>
                            <span class="badge
                                {% if bill.status == 'Pendiente' %}bg-warning
                                {% elif bill.status == 'Pagado' %}bg-success
                                {% else %}bg-danger{% endif %}">
                                {{ bill.status }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}