{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main-content">
        <h1 class="mb-4">Actualizar Estado de Factura</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="status" class="form-label">Estado:</label>
                <select class="form-select" id="status" name="status">
                    {% for value, display in bill.BILL_STATUS_CHOICES %}
                    <option value="{{ value }}" {% if bill.status == value %}selected{% endif %}>{{ display }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'bill_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
{% include 'footer.html' %}
